		<h2>{{object.name}} details</h2>

{% for property in object.properties %}
	{%- liquid
	    if property.type.name == 'id'
	       continue
	    endif
	    if property.secret
	       continue
	    endif 
	%}
		<div><span>{{property.name}}</span> <span><%= {{object.name | camelCase}}.{{property.name | camelCase}} %></span></div>
{%- endfor %}

		<h2>Links</h2>
		<nav>
		<ul>
			<!-- TODO replace link id by target name id -->
			{% for link in object.links -%}
			<li><span>Link {{link.name}}</span> <span><%= {{object.name | camelCase}}.id{{link.name | pascalCase}} %></span></li>
			{%- endfor %}
			{% for link in object.reverseLinks -%}
			<li><a href="/{{link.source.name | kebabCase}}/search?{{object.name | camelCase}}Id=<%= {{object.name | camelCase}}.id %>">{{link.source.name}} list</a></li>
			{%- endfor %}
			<li><a href="/{{object.name | kebabCase}}/list">Back</a></li>
		</ul>
		</nav>
